{% include "base.html" %}

{% block content %}

<div id="form">
  <h3 style ="align:center"><b>Deploy Lab</b></h3>
  {% if message %}
  <h4 align="center">{{ message }}</h4>
  {% endif %}
  <form id="waterform" method="post">    
    <div class="formgroup" id="name-form">
      <label for="name">Lab ID*</label>
      <input type="text" id="name" name="lab_id" required/>
    </div>
    
    <div class="formgroup" id="name-from">
      <label for="name">Github URL*</label>
      <input type="text" id="url" name="lab_src_url" required/>
    </div>
    
    <div class="formgroup" id="message-form">
       <label for="message">Branch/Tag</label>
    <input type="text" id="tag" name="version" />
    </div>
    <input type="submit" value="Submit"/>
  </form>

</div>

<div id="msg" style="position:absolute;top:30%">
</div>

<script>
    var host = window.location.host;
    var ws = new WebSocket('ws://'+host+'/ws');

    ws.onopen = function(){
	console.log("opened")
    };
    
    ws.onmessage = function(ev){
        var json = JSON.parse(ev.data);
        var html = document.getElementById("msg").innerHTML;
        html += "<p>" + json.value + "</p>";
        console.log(html);
        document.getElementById("msg").innerHTML = html;
    };   
    
    ws.onclose = function(ev){
	console.log("closed")
    };
    
    ws.onerror = function(ev){
	console.log("error")
    };

</script>

{% endblock %}
